<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="http://ec2-3-94-114-142.compute-1.amazonaws.com/js/data.js"></script>
    <script src="http://ec2-3-94-114-142.compute-1.amazonaws.com/js/message.js"></script>
    <script src="http://ec2-3-94-114-142.compute-1.amazonaws.com/js/app.js" defer></script>
    <link rel="stylesheet" href="http://ec2-3-94-114-142.compute-1.amazonaws.com/css/style.css">
    <!--
    <script src="js/data.js"></script>
    <script src="js/message.js"></script>
    <script src="js/app.js" defer></script>
    <link rel="stylesheet" href="css/style.css">
    -->
    
</head>
<body>
<strong>simple quarto</strong><br>
<hr>

<div id="infoVue"> 
    <table>    
        <tr><td>インフォメーション</td>      <td width="50"> </td><td>チャット</td></tr>
        <tr><td>あなた: {{ userName }}</td><td></td><td>toshihide: {{toshihideMessage}}</td>
        <tr><td>{{ turn == undefined ? "startしてください" : 
                turn ? "あなたのターンです" : "相手のターンです" }}</td><td></td><td>haruka: {{harukaMessage}}</td>
        <tr><td><input type="button" value="start" onclick="sendStart()"/></td><td></td><td><input type="textbox" v-model="message"/><input type="button" value="send" onclick="sendMessage()"/></td></tr>
    </table>
</div>
<hr>

<div id="selectPiece">
    <p>選択中の駒</p>
    <table>
        <tr><td class="tdcell"><p v-bind:class="[
            black ? color.black : color.brown, 
            bold  ? fontWeight.fontBold : fontWeight.fontNormal
            ]">{{ val }}</p></td></tr>
    </table>
</div>
<hr>

<table>
    <tr>
        <td>
            <div id="board">
                <p>盤面</p>
                <table>
                    <template v-for="line in table">
                        <tr :key="line.index">
                            <template v-for="e in line.vals">
                                <td class="tdcell" :key="e.index">
                                    <p v-bind:class="[
                                    e.black     ? color.black : color.brown, 
                                    e.bold      ? fontWeight.fontBold : fontWeight.fontNormal ]"
                                    v-on:click="clicked(e, $event)">{{ e.val }}</p>
                                    </td>
                                </td>
                            </template>
                        </tr>
                    </template>
                </table>
            </div>
        </td>
        <td width="50"> </td>
        <td>
            <div id="pieces"> 
                <p>残りの駒</p>
                <table >
                    <template v-for="line in table">
                        <tr :key="line.index">
                            <template v-for="e in line.vals">
                                <td class="tdcell" :key="e.index">
                                    <p v-bind:class="[
                                    e.black ? color.black : color.brown, 
                                    e.bold ? fontWeight.fontBold : fontWeight.fontNormal
                                    ]"
                                    v-if="!e.used" 
                                    v-on:click="clicked(e,$event)">{{ e.val }}</p>
                                </td>
                            </template>
                        </tr>
                    </template>
                </table>
            </div>
        </td>
    </tr>
</table>

<hr>
<div id="messages" hidden/>
</body>
</html>